

/* TLA HEADER */
.tla__header_title {
    color: blue;
}


/* TLA FORM */
.tla__form_input {
    padding: .5rem;
    border-radius: .5rem;
}

.tla__form_button {
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: beige;
    background-color: #1565C0;
    border-style: none;
    cursor: pointer;

    &:hover {
        transition: .3s;
        background-color: #424242;
    }
}

/* TLA TASKS */
.tla__tasks_title {
    color: #424242;
}

.tla__tasks_adv_cont {
    display: flex;
    align-items: center;
    margin: 0 .5rem;
}

.tla__tasks_adv_delete {
    cursor: pointer;
    margin: 0 .3rem 0 3rem;
}

.tla__tasks_adv_edit{
    cursor: pointer;
    margin: 0 .3rem;
}

