
.tll {
    
}

.tll__form_inputask {
    padding: .5rem;
    border-radius: .5rem;
}

.tll__form_button {
    padding: .5rem 1rem;
    border-radius: .5rem;
    border-style: none;
    cursor: pointer;  
}

.tll__tasks_actions {
    display: flex;
    align-items: center;
}

.tll__tasks_svg_delete {
    width: 1.8rem;
    fill: red;
    cursor: pointer;
    margin-left: 1rem;
}

.tll__tasks_svg_check {
    width: 1.8rem;
    fill: green;
    cursor: pointer;
    margin-left: 1rem;
}