
.tlb {
  padding: 1rem;
  background-color: #f0f0f0;
}

.tlb__header {
  display: grid;
  align-items: center;
  justify-content: start;
}

.tlb__form_input {
  padding:.5rem;
  border-radius:.5rem;
}

.tlb__form_button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border-style: none;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: beige;
  background-color: #484848;
}